[submodule "node_modules/choreographer"]
	path = node_modules/choreographer
	url = git://github.com/laughinghan/choreographer.git
[submodule "node_modules/strobe"]
	path = node_modules/strobe
	url = git://github.com/Country/strobe-templates.git
