{% extends "layout/common.html" %}
{% block content %}
    <div class="grid-16">
     <div id="repo">
      <h2><a href="https://github.com/{{ data.repository.owner }}">{{ data.repository.owner }}</a> / <a href="{{ data.repository.url }}">{{ data.repository.name }}</a></h2>
      <p>{{ data.repository.description }}</p>
     </div>
     <section id="timeline" class="block alt1">
      <header><h1>Commits timeline</h1></header>
      <div class="inner">
       <img src="https://chart.googleapis.com/chart?cht=bvs&amp;chd=t:{{ data.commitsByDay|join:',' }}&amp;chs=930x100&amp;chco=336699&amp;chxt=y&amp;chds=a&amp;chbh=a" width="930" height="100" alt="" />
      </div>
     </section>
    </div>
    <div class="grid-8">
     <section id="contributors" class="block">
      <header><h1>Contributors</h1></header>
      <ul>{% for user in data.contributors %}
       <li>
        <a class="container" href="https://github.com/{{ user.login }}">
         <img src="https://secure.gravatar.com/avatar/{{ user.gravatar_id }}?s=60&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" height="60" width="60" alt="{{ user.name }}" />
         <h2>{% if user.name %}{{ user.name }}{% else %}{{ user.login }}{% endif %}</h2>
         <p>{{ user.company }}{% if user.company %} | {% endif %}{{ user.location }}</p>
        </a>
       </li>{% endfor %}
      </ul>
     </section>
    </div>
    <div class="grid-8">
     <section id="impact" class="block">
      <header><h1>Contributors impact</h1></header>
      <div class="inner">
       <img src="https://chart.googleapis.com/chart?cht=p&amp;chd=t:{{ data.contributions.commits|join:',' }}&amp;chl={{ data.contributions.labels|join:'\|' }}&amp;chs=448x200&amp;chco=336699,CACACA&amp;chds=a" width="448" height="200" alt="" />
      </div>
     </section>
    </div>{% endblock %}