{% extends "layout/common.html" %}
{% block content %}
    <h2>Salut !</h2>
    <section id="timeline">
     <header><h1>Timeline</h1></header>
     timeline
    </section>
    <section id="contributors">
     <header><h1>Contributors</h1></header>{% for user in data.contributors %}
     <li>
      <a href="https://github.com/{{ user.login }}">
       <img src="https://secure.gravatar.com/avatar/{{ user.gravatar_id }}?s=140&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" alt="{{ user.name }}" />
       <h2>{{ user.name }}</h2>
       <p>{{ user.company }}{% if user.company %} | {% end %}{{ user.location }}</p>
      </a>
     </li>{% end %}
    </section>
    <section id="contributors">
     <header><h1>Contributors impact</h1></header>
     graph
    </section>{% end %}