{% extends layout %}
{% block content %}
    <div class="grid-16">
     <section id="results" class="block alt1">
      <ol>{% for repo in data.repositories %}
      <li>
       <a class="container" href="/{{ repo.username }}/{{ repo.name }}">
        <h2>{{ repo.username }} / {{ repo.name }}</h2>
        <p class="descr">{{ repo.description }}</p>
        <p class="details">{{ repo.size|toBytes:2 }} | {{ repo.forks }} forks | {{ repo.watchers }} watchers</p>
       </a>
      </li>{% endfor %}{% if data.repositories.length == 0 %}
      <li class="message warning">
      	No matching results.
      </li>{% endif %}
     </ol>
     </section>
     <script>GIT.exec.push('initResults')</script>
    </div>{% endblock %}