<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/public/medias/styles/main.css" media="screen" />
 </head>
 <body>
  <header id="branding">
   <div class="inner">
    <h1><a rel="home" accesskey="1" href="/" title="GitHub - Social Coding">GitHub</a></h1>
    {% include "partials/search.html" %}
   </div>
  </header>
  <div id="container" class="row">
   <div class="grid-16">
    <div class="row">{% block content %}{% endblock %}
    </div>
   </div>{% block footer %}{% endblock %}
  </div>
  <footer id="footer">
   <p>&copy Copyright Bla Bla Bla</p>
  </footer>
 </body>
</html>